@model final.Models.KOMENTAR

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KOMENTAR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.POST_KOMEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST_KOMEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TGL_KOMEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TGL_KOMEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLAP_KOMENTAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAP_KOMENTAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANSWER.POST_KOMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANSWER.POST_KOMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHARING.TITLE_SHARING)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHARING.TITLE_SHARING)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.NAMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.NAMA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
